@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.Seven_section{
    background-image: url("../image/bgc2.png");
    background-size: cover;
    height: 890px;
    padding: 0px 9.5%;
}
.science-group_title{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.84px;
    margin: 0px;
    padding: 70px 0px 70px 30px;
}
.science-group_block{
    display: flex;
    justify-content: space-around;
}
.content-block_left{
}
.content-block_left-group{
    width: 90%;
    height: 303px;
    border-radius: 20px;
    background-image: url("../image/bgcblock.png");
    background-size: cover;
    margin-bottom: 50px;
}
.content-block_left-group:first-child{
    margin-bottom: 40px;
}
.left-group_title{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 65px 180px 48px 60px;
}
.left-group_txt{
    width: 410px;
    height: 50px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.36px;
    margin: 0px;
    padding: 0px 90px 65px 60px;
}
.content-block_right{

}
.content-block_right-group:first-child{
    margin-bottom: 40px;
}
.content-block_right-group{
    width: 90%;
    height: 303px;
    border-radius: 20px;
    background-image: url("../image/bgcblock.png");
    background-size: cover;
}
.right-group_title{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 65px 180px 48px 60px;
}
.right-group_txt{
    width: 410px;
    height: 50px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.36px;
    margin: 0px;
    padding: 0px 90px 65px 60px;
}