.FiveBlock {
	display: flex;
	min-height: 1000px;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-image: url(./img/bcg.jpg);
}

.FiveBlock__main {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid #202020;
}
.FiveBlock__main > h5 {
	margin: 50px 50px;
	align-self: start;
	color: #fff;
	font-family: Montserrat;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: 90px;
	/* 214.286% */
	letter-spacing: 0.84px;
}
.FiveBlock__main-grid {
	display: grid;
	grid-template-columns: 360px 360px 360px;
	grid-template-rows: 324px 324px;
	gap: 40px;
	justify-items: stretch;
	align-items: stretch;
}
.FiveBlock__main-grid > div:nth-child(2n) {
	background: rgba(30, 30, 30, 0.68);
}
.FiveBlock__main-grid__cell {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 360px;
	height: 324px;
	flex-shrink: 0;
	border-radius: 20px;
	background: linear-gradient(
		131deg,
		rgba(67, 69, 190, 0.68) 50.37%,
		rgba(11, 111, 173, 0.68) 96.68%
	);
}
.FiveBlock__main-grid__cell > b {
	width: 290.355px;
	margin: 42px 0;
	color: #fff;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 120% */
	letter-spacing: 0.5px;
}
.FiveBlock__main-grid__cell > p {
	width: 290.355px;
	height: 148.929px;
	flex-shrink: 0;
	color: #fff;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 21.6px; /* 120% */
	letter-spacing: 0.36px;
}
@media (max-width: 1280px) {
	.FiveBlock__main-grid {
		grid-template-columns: 300px 300px 300px;
		grid-template-rows: 280px 280px;
		gap: 35px;
	}
	.FiveBlock__main-grid__cell {
		width: 300px;
		height: 280px;
	}
	.FiveBlock__main-grid__cell > b {
		width: 260px;
		font-size: 20px;
		margin: 35px 0px;
	}
	.FiveBlock__main-grid__cell > p {
		width: 260px;
		height: 150px;
		font-size: 14px;
	}
}
@media (max-width: 1280px) {
	.FiveBlock {
		min-height: 770px;
	}
	.FiveBlock__main > h5 {
		font-size: 40px;
	}
	.FiveBlock__main-grid {
		grid-template-columns: 250px 250px 250px;
		grid-template-rows: 220px 220px;
		gap: 25px;
	}
	.FiveBlock__main-grid__cell {
		width: 250px;
		height: 220px;
	}
	.FiveBlock__main-grid__cell > b {
		width: 200px;
		font-size: 18px;
		margin: 25px 0px;
	}
	.FiveBlock__main-grid__cell > p {
		width: 200px;
		height: 90px;
		font-size: 8px;
	}
}
@media (max-width: 920px) {
	.FiveBlock {
		min-height: 1000px;
	}
	.FiveBlock__main > h5 {
		align-self: center;
		font-size: 38px;
		margin: 50px 0px;
	}
	.FiveBlock__main-grid {
		grid-template-columns: 250px 250px;
		grid-template-rows: 220px 220px 220px;
		gap: 25px;
	}
	.FiveBlock__main-grid__cell {
		width: 250px;
		height: 220px;
	}
	.FiveBlock__main-grid__cell > b {
		width: 200px;
		font-size: 18px;
		margin: 25px 0px;
	}
	.FiveBlock__main-grid__cell > p {
		width: 200px;
		height: 90px;
		font-size: 8px;
	}
}
@media (max-width: 768px) {
	.FiveBlock {
		min-height: 850px;
	}
	.FiveBlock__main > h5 {
		font-size: 34px;
	}
	.FiveBlock__main-grid {
		grid-template-columns: 200px 200px;
		grid-template-rows: 180px 180px 180px;
		gap: 25px;
	}
	.FiveBlock__main-grid__cell {
		width: 200px;
		height: 180px;
	}
	.FiveBlock__main-grid__cell > b {
		width: 150px;
		font-size: 14px;
		margin: 10px 0px;
	}
	.FiveBlock__main-grid__cell > p {
		width: 150px;
		height: 90px;
		font-size: 6px;
	}
}
@media (max-width: 640px) {
	.FiveBlock__main > h5 {
		font-size: 28px;
	}
}
@media (max-width: 480px) {
	.FiveBlock {
		min-height: 1450px;
	}
	.FiveBlock__main > h5 {
		text-align: center;
		line-height: 1.5;
	}
	.FiveBlock__main-grid {
		grid-template-columns: 200px;
		grid-template-rows: 180px;
		gap: 25px;
	}
	.FiveBlock__main-grid__cell {
		width: 200px;
		height: 180px;
	}
	.FiveBlock__main-grid__cell > b {
		width: 150px;
		font-size: 14px;
		margin: 10px 0px;
	}
	.FiveBlock__main-grid__cell > p {
		width: 150px;
		height: 90px;
		font-size: 6px;
	}
}
@media (max-width: 375px) {
	.FiveBlock__main > h5 {
		font-size: 26px;
	}
}
