.FourthBlock {
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(./img/bcg.jpg);
}

.FourthBlock__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #202020;
}
.FourthBlock__main > h4{
    margin-top: 55px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
    /* 214.286% */
    letter-spacing: 0.84px;
}
.FourthBlock__main-grid__top{
    margin-top: 150px;
    width: 1220px;
    display: flex;
    justify-content: space-between;
}
.FourthBlock__main-grid__bottom {
    margin-top: 185px;
    gap: 30px;
    width: 1220px;
    display: flex;
    justify-content: center;
}
.FourthBlock__main-grid__cell{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FourthBlock__main-grid__cell > img {
    margin-bottom: 30px;
}
.FourthBlock__main-grid__cell>p {
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 120% */
    letter-spacing: 0.5px;
}
@media (max-width: 1280px) {
    .FourthBlock{
        height: 1100px;
    }
    .FourthBlock__main-grid__top{
        width: 1000px;
    }
    .FourthBlock__main-grid__bottom{
        width: 1000px;
    }
    .FourthBlock__main-grid__cell{
        width: 350px;
    }
}
@media (max-width: 980px) {
    .FourthBlock__main-grid__top{
        width: 750px;
    }
    .FourthBlock__main-grid__bottom{
        width: 750px;
    }
    .FourthBlock__main-grid__cell{
        width: 190px;
    }
    .FourthBlock__main-grid__cell > p{
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .FourthBlock__main-grid__top{
        width: 500px;
    }
    .FourthBlock__main-grid__bottom{
        width: 500px;
        margin-top: 95px;
    }
    .FourthBlock__main-grid__cell{
        width: 150px;
    }
    .FourthBlock__main-grid__cell > img{
        width: 45%;
        margin-bottom: 0px;
    }
    .FourthBlock__main-grid__cell > p{
        font-size: 14px;
    }
}
@media (max-width: 425px) {
    .FourthBlock{
        height: 770px;
    }
    .FourthBlock__main > h4{
        font-size: 28px;
    }
    .FourthBlock__main-grid__top{
        width: 350px;
        margin-top: 90px;
    }
    .FourthBlock__main-grid__bottom{
        width: 350px;
        margin-top: 90px;
    }
    .FourthBlock__main-grid__cell{
        width: 100px;
    }
    .FourthBlock__main-grid__cell > img{
        width: 35%;
        margin-bottom: 0px;
    }
    .FourthBlock__main-grid__cell > p{
        font-size: 8px;
    }
}
@media (max-width: 320px) {
    .FourthBlock{
        height: 1350px;
    }
    .FourthBlock__main > h4{
        margin-top: 40px;
        font-size: 22px;
    }
    .FourthBlock__main-grid__top{
        width: 350px;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
    .FourthBlock__main-grid__bottom{
        width: 350px;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .FourthBlock__main-grid__cell{
        width: 250px;
        margin-bottom: 25px;
    }
    .FourthBlock__main-grid__cell > p{
        font-size: 16px;
    }
}