.MainBlock {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url(./img/bcg.jpg);
}
.MainBlock__right {
	z-index: 1;
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-self: start;
	margin-left: 75px;
}

.MainBlock__right > h1 {
	width: 800px;
	color: rgba(255, 255, 255);
	font-family: Montserrat;
	font-size: 60px;
	font-style: normal;
	font-weight: 900;
	line-height: 72px; /* 120% */
	letter-spacing: 1.2px;
	margin-bottom: 43px;
}
.MainBlock__left > img {
	width: 130%;
}
.MainBlock__right > button {
	width: 272px;
	height: 54.872px;
	border-radius: 20px;
	background: #4345be;
	color: #fff;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 90px; /* 450% */
	letter-spacing: 0.4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1366px) {
	.MainBlock__left > img {
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.MainBlock__right{
		width: 40%;
	}
}
@media (max-width: 800px) {
	.MainBlock__right > h1{
		width: 540px;
	}
}
@media (max-width: 640px) {
	.MainBlock__right{
		width: 100%;
		align-items: center;
		margin-left: 0px;
	}
	.MainBlock__right > h1{
		width: 100%;
		text-align: center;
	}
	.MainBlock__left{
		display: flex;
		position: absolute;
		right: 0px;
	}
	.MainBlock{
		height: 85vh;
	}
}